* {
  box-sizing: border-box;
}
body {
  color: gold;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: url('https://static.pexels.com/photos/33109/fall-autumn-red-season.jpg') no-repeat;
  background-size: cover;
  font-family: Muli, sans-serif;
}
#root {
  height: 92vh;
  background-color: rgba(0,0,0,0.5);
}
h1 {
  font-size: 4rem;
  font-family: Allura, serif;
  margin-bottom: 10px;
}
.app {
  text-align: center;
  width: 500px;
  height: 80vh;
  margin: auto;
  margin-top: -20px;
}
.buttons {
  width: 500px;
  position: relative;

}
.option {
  padding: 3px;
  width:12%;
  float: left;
  border: 1px solid gold;
  margin-left: 5%;

}
.option:hover {
  cursor: pointer;
}
#generation {
  float:left;
  margin-left: 5%;
  width: 61%;
  text-align: left;
  padding: 3px;

}
#board {
  width: 500px;
  float: left;
  margin-top: 10px;
  margin-bottom:10px;


}
.true, .false {
  width: 10px;
  height: 10px;
  border: 1px solid black;
  float:left;

}
.true
 {
  background: green;
}
.false {
  background: rgba(250,230,100,1);
}
